body {
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  body{
    font-family: sans-serif;
    margin: 0;
  }
  
  .letra {
    color: #000000ab;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .form-register {
    width: 400px;
    background: #a52a2a;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  .form-register .botons {
    width: 80%;
    background: #595353;
    border: 1px solid #dadada;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  
  .form-register .botons2 {
    width: 80%;
    background: #595353;
    border: 1px solid #dadada;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  
  
  .controls {
    width: 75%;
    background: #595353;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #dadada;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  
  
  
  header{
    display: flex;
    height: 70px;
    background-color: #a52a2a;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo{
    display: flex;
    align-items: center;
    color: #dadada;
  }
  
  .logo img{
    height: 75px;
    margin-right: 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #595353;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #de644b;
  }
  
  .activo {
    background-color: #dadada;
  }
  
  .derecha {
    float: right;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    border-radius: 0.5rem;
    text-align: center;
  }
  